.box1 {
    position: relative;
    animation: geeks 5s infinite;
    animation-play-state: paused;
height: 200px;
font-size: 40px;
 text-align: center;
}
  
@keyframes geeks {
   0% {
        left: 0px;
     top:0px;
      width: 500px;
         background: pink;
     border-radius: 0%;
  
        
    }
    50% {
        left: 250px;
      background: orange;
      top:40px;
       width: 250px;
          border-radius: 50%;
    
    }
      100% {
        left: 500px;
     top:80px;
         width: 500px;
         background: pink;
     border-radius: 0%;
        
    }
}

.box1.horizTranslate1 {
    animation-play-state: running;
}
  

/* makes it so it starts and stops when you hover over the div */

.box1:hover {
    animation-play-state: running;
}

/* example 2 */
.box2 {
    position: relative;
    animation: geeks 5s infinite;
    animation-play-state: paused;
height: 200px;
font-size: 40px;
 text-align: center;
color: blue;
}
  
@keyframes geeks {
   0% {
        left: 0px;
     top:0px;
      width: 400px;
     height: 400px;
         background: blue;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);


        
    }
    50% {
        left: 250px;
      background: yellow;
      top:40px;
       width: 400px;
     height: 50px;
 clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

;


    
    }
      100% {
        left: 500px;
     top:80px;
          width: 400px;
     height: 400px;
         background: blue;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
   
        
    }
}

.box2.horizTranslate2 {
    animation-play-state: running;
}
  

/* makes it so it starts and stops when you hover over the div */

.box2:hover {
    animation-play-state: running;
}